[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
